#canvas-container {
   width: 100%;
   text-align:center;
   position: relative;
   top: 50%;
   transform: translateY(50%);

}

canvas {
   display: inline;
}
button {
  width: 100px;
}
#red {
  background-color: red;
}
#green {
  background-color: green;
}
#blue {
  background-color: blue;
}
#orange {
  background-color: orange;
}
